<div ng-include="'partials/navbar.html'"></div>
<div class="container" ng-controller="HomeCtrl">
	<div class="row">
		<h1 class="left-align">My Patients</h1>
		<div class="col s4 m6 center">
		<table class="responsive-table highlight center">
		<thead>
			<tr>
				<th>Patient</th>
				<th>Start Session</th>
			</tr>
		</thead>

		<tbody ng-repeat="item in patients">
			<tr>
				<td><a ng-href="#!/patientdata/{{item.fbID}}">{{ item.ID }}</a></td>
				<td><a ng-href="#!/presession/{{}}"><button class="btn grey" type="submit">New Session</button></a></td>
			</tr>
			</tbody>
			</table>
			</div>
	</div>
</div>
