<div ng-include="'partials/navbar.html'"></div>
<div ng-controller="PatientDataCtrl">
	<div class="container">
	<h2 class="center">Patient Info</h2>
		<div class="row center">
			<div class="col s12 card z-depth center">
					<table>
					<thead>
						<th>Patient ID:</th>
						<th>Movements:</th>
						<th>Session Log:</th>
					</thead>
					<tbody>
					<tr>
						<td>{{ patient.ID }}</td>
						<td>{{ patient.movements }}</td>
						<td></td>
<!-- 						<td>{{ patient.sessions completed }}</td> -->

<!-- <div id="deleteAllModal" class="modal deleteModal">
          <div class="modal-content">
                <h4>Delete Patient?</h4>
          </div>
    <div class="modal-footer">
      <a ng-click="deleteAll()" class="modal-action modal-close waves-effect waves-green btn-flat">yes</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">no</a>
      </div>
 -->
						<td><button type="submit" ng-click="deletePatient(item.id)"><i class="small material-icons">delete</i></button></td>
					</tr>
					</tbody>
					</table>
			</div>
			<div class="col s12 center">
				<a ng-href="#!/resourcing/{{patient.fbID}}"><button type="submit" class="btn teal">Begin Resourcing Session</button></a>
				<a ng-href="#!/session/{{patient.fbID}}"><button type="submit" class="btn teal">Begin Regular Session</button></a>
	<!-- 	<button ng-click="updatePatient(item.id)">Save</button> -->
			</div>
		</div>
	</div>
</div>

