<div ng-include="'partials/navbar.html'"></div>
<div ng-controller="PatientDataCtrl">
	<div class="container">
		<div class="row">
			<div class="col s5 m5">
				<div class="card">
					<table>
					<thead>
						<th>Patient ID:</th>
						<th>Speed:</th>
						<th>Movements:</th>
					</thead>
					<tbody>
					<tr>
						<td>{{ patient.ID }}</td>
						<td>{{ patient.speed }}</td>
						<td>{{ patient.movements }}</td>
					</tr>
					</tbody>
					</table>
				</div>
			</div>
			<div>
				<a ng-href="#!/session/{{patient.fbID}}"><button type="submit" class="btn grey">Begin Session</button></a>
			</div>
		</div>
	</div>
</div>
